Requirements document 

•	Functional requirements 
o	Log in page 
?	2 set of requirements 
•	Login page will have two options 
o	Senior login – If login is correct then it will allow you to go into two different chat rooms, one with senior exec that juniors can not get into and the other the lower chat room for junior exec.
o	Junior login- if password is accepted then they will be allowed into the lower chat room where they can talk with each other and seniors, but will not be able to view senior to senior interactions  
?	Archives  
o	Seniors- need to be able to look at all the interactions between each other and how the juniors communicate and what they are communicating about 
o	Juniors need to able to go back and look at their previous conversations and view what was happening 
?	  How to remove users 
o	Go into database delete password and username immediately after terminated   
?	Administrative access 
o	Dual mandated access entries, so that one administrative can not seek revenge against company. If an administrative needs to override the system to get in, there will be an override code that’s on site that changes every week. 
?	IM                      
o	No attachments or images can be added in the IM 
o	Certain phrases and words will be flagged
o	
o	Above text show name 

•	Nonfunctional requirements 
o	When do we want users to have access to the IM? 
o	Security 
?	 Passwords 
•	8 character min, must have a symbol, number, Capital letter, no spaces 12 character max 
•	Can not have duplicate passwords  
?	Usernames 
•	Distributed by admin
•	5 numbers 
?	Override code  


Senior Use and Archive Case
•	User will log in using his or her username or password. For seniors they will be directed towards a chat room just for senior executives or another specifically for juniors.
•	Seniors will have access to all senior to senior chats, all senior to junior chats and all junior to junior chats, but just the seniors will have access to this.

Junior Use and Archive Case
•	User will log in using his or her username or password. Juniors will be directed towards a chat room to talk to a senior executive or another junior executive.
•	Juniors will have access to just their chats with senior executives. Also they will have the ability to go back and look at chats between junior executives


Administrative Case
•	Administrator will have access to the database where they will be able to delete passwords and username immediately after the employee is terminated.
•	Administrator will have dual mandated access entries. Also an override code that has the ability to override the system to obtain access.

Instant Message Case
•	For both junior and senior users to type out their messages they would enter the messages in the bottom where there is a spot to put in text  
o	After they have entered in the information they will press a send button that then will upload the information in chronological order 
o	On the side they will have a feature where they will be able to go back through and scroll through previous conversations 
o	In addition their will be a search bar to allow the user to search for keywords from previous conversations 
o	However once information is sent out they will not be able to go back and delete their messages.
•	User will not be able to send attachments or images through the Instant messaging
•	Certain phrases and words will be flagged. Users name will appear of the text.

Security Case
•	Users password will be 8 character min, must have symbol, number, capital letter, no spaces and a 12 character max
•	User will not be able to use duplicate passwords, also will make users change passwords every three months for security purposes
•	All usernames will be 5 digit number assigned by the administrator 
•	Search bar where you can look up archives of topics that have been discussed so that you are able to go back and look at conversations about “Project J” for example 





 
	
